


[% USE String %]

[%
"<div class=\"searchresults\">";
FOREACH  hit IN domain_hits;

"<div class=\"hit\">";

  "<a href=\"$hit.url\">$hit.name</a>";
   WRAPPER table/plain;
 

     WRAPPER table/plain;

        WRAPPER table/row;
            PROCESS table/head content = "Description ";
            PROCESS table/cell content=hit.description;
        END;
        WRAPPER table/row;
            PROCESS table/head content = "Species ";
	    USE String(hit.species); 
            PROCESS table/cell content = String.replace('_',' ').capital;
        END;
     END;
 END;
"</div>";
END;	
"</div>";
%]


