[%


FOREACH hit IN results.entries;

FOREACH h IN hit;

  WRAPPER table/edge;
    WRAPPER table/row;
      PROCESS table/head content = h.1;
      WRAPPER table/row; 
        PROCESS table/cell    content=h.2;
        PROCESS table/row   content=h.3;
        PROCESS table/row    content=h.4;
      END;
    END;
  END;

END;

END;

%]
