[% USE String %]

[%
"<div class=\"searchresult\">";

safe_search_term = search_term;
FOREACH  domain IN results_summary.keys;

  domain_hits = results_summary.$domain.hits;
  hit_count = results_summary.$domain.count;

  d = domain | replace('^\w+_', '') FILTER ucfirst;
  tl = domain | replace('_.*$', '') FILTER ucfirst;

  IF hit_count > 0;

    d = domain | replace('^\w+_', '') FILTER ucfirst;

species = search_term.match('species:(\w+)$');
species.0 = species.0.replace('_',' ');
term = search_term.remove('\sspecies:\w+$');

    "<h2>$hit_count  $d" _ (hit_count > 1 ? 's': '') _  " match" _ (hit_count == 1 ? 'es' :'')  _ " your query term " _ "\'$term\'"  _  " in " _ 
(species.0.match('\w+') ? species.0 : tl) 
_ 
"</h2>";

    (hit_count > 10  ? "<h3>Showing first 10</h3>" : '');
    PROCESS EBeyeSearch/DomainResults.tt2 ;



  END;

(hit_count > 3 ? "<a href=\"?$query_string;domain=${domain}\">\>\> More</a>":'');


END;

IF hit_count < 1;
   "Your query <strong>- '$safe_search_term'  -</strong> did not match any records in the database. 
Please make sure all search terms are spelled correctly and try again.";
"<br/><br/><br><br/>";
END;

"</div>";
%]


