#enawrapper {
	width:100%;
	text-align:center;
}

#enawrapper .center {
  width:800px;
  margin-left:auto; 
  margin-right:auto;
}

#enaresults {
  color: #002A40; 
  font-family: arial; font-size:12px;
  border-spacing: 0px 3px; 
}

#enaresults td {
  text-align:right;
}

#enaresults th {
border-radius: 2px;
font: bold 12px Arial;
color:#003300;
margin: 2px;
padding: 5px 0px 0px 2px;
text-align:right;
}

.ehleft{
	background:[[TINT_BG]];
	padding: 5px 0px 5px 12px;
	font-weight:bold;
	text-align:left;	
}
.eh{
	background:[[TINT_BG]];
	padding: 5px 0px 5px 12px;
	font-weight:bold;
}
.ehcenter{
	background:[[TINT_BG]];
	padding: 5px 0px 5px 12px;
	font-weight:bold;
text-align:center;
}



#enaresults td:first-child + td + td + td + td + td + td{
  text-align:center;
}

#enaresults td:first-child {
  font-style: italic;
  text-align: left;
}

#enaresults td:first-child + td{
  text-align: left;
}


#ena-seq-td {
  width: 65%;
  vertical-align:top;
  padding-right:10px;
}

#ena-seq {
  font-family:Sans-serif; 
  font-size:11px; 
  margin:8px; 
  width:97%; 
  height:14em; 
}

#ena-options{
  width:250px;
  vertical-align:top;
}

#submit-box {
 float:left; 
 clear:both; 
 width:97%;
}

#progress {
 float:left; 
 margin: 0px; 
 width:100%; 
}

#submit-button {
  float:right; 
  margin:8px; 
  height:25px;
}

#results {
 width:99%;
}

#progress-msg {
 z-index:20; 
 text-align: left; 
 vertical-align:bottom; 
 height: 20px; 
 float:left; 
 position:relative;
 top:11px;
 left:5px;
 font:bold 12px Arial;
}

#progress-bar {
 border-radius: 5px;
 z-index:10; 
 position:relative; 
 height: 24px;top:8px;left:0; 
 background-color:[[TINT_BG]];
 width:0%;
}


.rawresult {
  display:none;
  font-family: 'Courier New', Courier, mono; 
  font-size: 9pt;
}

.odd td, .even td {
  padding: 0px 0px 0px 10px;
}

.odd {
  background-color: #E7F4DC;
}

.even {
  background-color: #f8f8f8;
}

.jobBox{
border-radius: 12px;
background:#ffffff;
margin-top: 12px;
border: 1px solid [[MH_BG]];
text-align:left;
background-color: #f8f8f8;
}

.jobBox h1{
border-radius: 12px 12px 0px 0px;
font: bold 16px Arial;
color:#003300;
background-color:[[TINT_BG]];
background-image: -webkit-gradient(linear, left top, left bottom,
from([[MH_BG]]),color-stop(0.5, [[TINT_BG]]), to([[TINT_BG]]));
margin: 0px;
padding-left: 16px;
padding-top: 2px;}

.enaheader {
border-radius: 12px 12px 0px 0px;
font: bold 16px Arial;
color:#003300;
background-color:[[TINT_BG]];
background-image: -webkit-gradient(linear, left top, left bottom,
from([[MH_BG]]),color-stop(0.5, [[TINT_BG]]), to([[TINT_BG]]));
margin: 0px;
text-align:left;
padding-left: 6px;
padding-top: 2px;}



.jobBox label.altLabel {float:left; width:10.0em; padding: 4px 2px 0px 2px;}
.jobBox ul{margin-left:10px; padding:0px;}
.jobBox li{margin: 4px 2px;list-style:none; list-style-type:none;}

.jobSmall {font:normal 10px Sans-serif; color:#003300;}

