div.column-wrapper { 
  clear: both 
}

fieldset {
  border: none;
}

div.species-list div.species-box a span  {
  font-size: 108%; display: inherit;
}

.species-badge p.taxon-id { 
  font-style:normal; 
}

fieldset .species-selector {
  overflow: visible;
}

select.species-selector,
select.ajax-species-selector {
  width: 350px;
}