div.taxon_selector_tree .finder { 
  display: block;
}

div.taxon_selector_tree .finder input { 
  font-size: 11px;
  font-weight: normal;
  padding: 2px;
  height: 20px;
  border: #ccc 1px solid;
  letter-spacing: normal;
  box-sizing: inherit;
}