
a.fbutton {
  background-color:[[BUTTON_BG]];
  border:double [[BUTTON_TEXT]] 3px;
  color:[[BUTTON_TEXT]];
  font-weight:bold;
  margin-bottom: 3px;
  cursor: pointer;
  padding: 2px 6px;
  text-decoration: none;
}
body.ie67 a.fbutton {
  padding: 0 2px;
  border: 0; /* double border doesnt work on IE6 & 7 */
}
a.fbutton:active, a.fbutton:hover {
  background-color:[[BUTTON_BG_HOVER]] !important;
}
a.fbutton.disabled, input.fbutton.disabled:active {
  background-color:#999;
}


form.bgcolour ._stt_input.long_species_fieldset .form-field.long_species_field{ 
  overflow: visible;
}

form.bgcolour ._stt_input.long_species_fieldset .form-field.long_species_field .ff-right{ 
  margin-bottom: 0px;
  padding-bottom: 15px;
}