.tabContent {
    padding-top:10px;
    background-color:#fff;
    margin-bottom:10px;
    border-top:1px solid #e1e1e1;
    clear:both;   
}

.tabPanel {
    display:block;
}

.oTab {
    border-radius: 10px 10px 0px 0px;
    display:block;
    overflow:hidden;
    margin:0;
    padding:0px;
    position:relative;
    top:1px;
    float:left;
    background-color:[[MH_TAB]];
    border:1px solid #e1e1e1;
    padding:5px!important;
    cursor:pointer;
    border-bottom:none;
    margin-right:10px;
    font-weight:bold;
    color:[[TINT_BG]];
}

.selectedTab {
    background-color:[[MH_TAB_ACTIVE]];
    color:#393939;
    border-radius: 10px 10px 0px 0px;
    display:block;
    overflow:hidden;
    margin:0;
    padding:0px;
    position:relative;
    top:1px;
    float:left;
    border:1px solid #e1e1e1;
    padding:5px!important;
    cursor:pointer;
    border-bottom:none;
    margin-right:10px;
    font-weight:bold;
}




#shade {
	position:absolute;
	top: 0px;
	left: 0px;
	width:50px;
	height:50px;
	border:1px dotted red;
	z-index:600;
	background-color: yellow;
	cursor:default;

-khtml-opacity:.30; -moz-opacity:.30; -ms-filter:.alpha(opacity=30).; filter:alpha(opacity=30); opacity:.30;
}

#othumb {
	cursor:default;
	position:absolute;
	top:0px;
	left:0px;
	opacity:0.9;
	border:1px dotted gray;
	z-index:500;
}

.vertical {
	width:auto;
	height:150px;
}

.horizontal {
	width:200px;
	height:auto;
}


.pancontainer{
position:relative; /*keep this intact*/
overflow:hidden; /*keep this intact*/
width:1000px;
height:600px;
border:1px solid gray;
cursor:pointer;
cursor:hand;
}


.window p { padding: 0 0.3em; margin: 0;}

.close { margin-top:0.3 em; padding-top:0.3em;}        
   
.window {
	2font-family:"Times New Roman", Times, serif;
        font-family: Luxi Sans, Helvetica, Arial, Geneva, sans-serif;
	font-size:85%;
	
  position:absolute;
  width:230px;
  height:300px;
  visibility:hidden;
  z-index:9999;
  padding: 0px 10px 0px 8px;
  border-style:solid;
  border-width:3;
  border-color:#cccccc;
  background-color:white;
}
  
.scroll      {
	padding: 0px;
	height: 70px;
	overflow: auto;
}

