div.paginate {
    float:left;
    clear: both;
    padding: 3px 0px 15px 3px;
    margin: 3px;
    text-align:center;
    font-size:.85em;
    }

div.paginate a {
    border: 1px solid [[PALE_GREY]];
    margin-right:3px;
    padding:2px 8px;

    background-position:bottom;
    text-decoration: none;

    color: [[MAIN_V_DARK]];
    }

div.paginate a:hover, div.paginate a:active {

    border: 1px solid [[MAIN_V_DARK]];
    background-image:none;
    background-color:[[MAIN_DARK]];
    color: [[WHITE]];
    }
div.paginate span.current {
    margin-right:3px;
    padding:2px 6px;
    
    font-weight: bold;
    color: [[BLACK]];
    }
div.paginate span.disabled {
    display:none;
    }
div.paginate a.next{
    border:2px solid [[PALE_GREY]];
    margin:0 0 0 10px;
    }
div.paginate a.next:hover{
    border:2px solid [[MAIN_V_DARK]];
    }
div.paginate a.prev{
    border:2px solid [[PALE_GREY]];
    margin:0 10px 0 0;
    }
div.paginate a.prev:hover{
    border:2px solid [[MAIN_V_DARK]];
    }

div.hit {
    margin-bottom: 20px;
}

div.hit a.name  {
    font-size: 1.25em;
    color: [[MAIN_V_DARK]];
		text-decoration: none;
}

div.hit a.url  {
    font-size: 1em;
    color: [[OK_DARK]];
    text-decoration: none;
}

div.hit td {
    color: [[DARK_GREY]];
}

div.hit th {
    color: [[DARK_GREY]];
}

div.hit div.title {
  border-bottom: 1px solid [[PALE_GREY]];
  margin: 0 12px 7px 0;
}

div.hit div.twocol div.row div.lhs {
  width: 150px;
}

div.hit div.twocol div.row div.rhs {
  margin-left: 150px;
}
