/* tab context menu styles */

#site_menu_button {
	padding: 0 20px 0 0;
	cursor: pointer;
	font-size: 75%;
	vertical-align:8px;
}

#masthead .tab_context_menu {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #CCCCCC;
	display:none;
	margin:0;
	max-height:272px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:4px 25px 4px 0 !important;
	position:absolute;
	white-space:nowrap;
	z-index:99999;
}

#masthead .tab_context_menu li {
	background-image:none !important;
	clear:both;
	list-style-image:none !important;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
}

#masthead .tab_context_menu a {
	background-image:none !important;
	color:#3366BB !important;
	display:block;
	height:16px;
	line-height:16px;
	padding:1px 5px 1px 5px !important;
	font-weight: bold;
}
