#s4das-page {
}

#s4das-page .segment {
  margin-top: 20px;
  border-top: #cccccc 1px solid;
  padding-top: 15px;
}
#s4das-page .segment:first-child {
  margin-top: 0;
  border: 0;
  padding: 0;
} 

#s4das-page .segment h1 {
  margin: 0 0 5px 0;
}

#s4das-page .segment .main-image {
  float: right; 
  width: 410px; 
  padding: 10px; 
  margin-left: 10px; 
  border: #cccccc 1px solid;
  text-align: center;
}

#s4das-page .segment .main-image img {
  max-width: 400px;
  margin: 5px 5px 10px 5px;
}

#s4das-page .segment .block-image {
  width: 785px; 
  padding: 10px; 
  margin: 20px auto; 
  border: #cccccc 1px solid;
  text-align: center;
}

#s4das-page .segment .block-image img {
  max-width: 750px;
  margin: 5px 5px 10px 5px;
}

#s4das-page .segment .main-image div,
#s4das-page .segment .block-image div {
  text-align: left;
}

#s4das-page .segment .summary {
  margin-top: 20px;
}

#s4das-page .segment .summary h3 {
  margin: 0 0 5px 0;
}

#s4das-page .segment .provenance {
  margin-top: 40px;
}

#s4das-page .segment .provenance div {
  margin-top: 10px;
}
